@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

@model MessagePartialViewModel
@{
    Layout = null;

    List<Comment> comments = new List<Comment>();
}
-----------------------------------------------</p>
@for (int i = 0; i < @Model.ShownMessages; i++)
{
    <p>@Localizer["Username"]: @Model.Messages[i].User</p>
    <p>@Localizer["Text"]: @Model.Messages[i].Text</p>
    @if (@Model.Messages[i].Likes.Count > 0)
    {
        <p id="@("likeCount" + i) ">@Localizer["Likes"]: @Model.Messages[i].Likes.Count</p>
    }
    @if (this.User.Identity.IsAuthenticated)
    {
        @if (Model.Messages[i].User.UserName == @Model.User.UserName)
        {
            <button class="btn-default" onclick="deleteMessage(@Model.Messages[i].MessageID)">@Localizer["Delete"]</button>
        }
        @if (Model.Messages[i].Likes.FindAll(x => x.UserID == @Model.User.Id).Count == 0)
        {
            <button class="btn-success" onclick="like(@Model.Messages[i].MessageID, @i)">@Localizer["Like"]</button>
        }

    }
    comments = Model.Messages[i].Comments.OrderBy(x => x.TimeStamp).ToList();
    <p>@Localizer["Comments"]: @comments.Count</p>

    
    <div id="addCommentsPartial"></div>

    @if (this.User.Identity.IsAuthenticated)
    {
        <textarea maxlength="300" name="newCommentText" id="@("newCommentText" + i)" onkeyup="countCommentChar(this, @i)"></textarea>
        <p>@Localizer["Message Length"]: <p id="@("newCommentCount" + i)">0</p></p>
        <button class="btn-default" onclick="addCommentPartial(@Model.Messages[i].MessageID, @i)">@Localizer["Comment"]</button>
    }
    <p>----------------------------------------------------</p>
}
