@using Microsoft.AspNetCore.Mvc.Localization;
@using Forsthuber.Data.Data;
@using Microsoft.AspNetCore.Identity;
@using Forsthuber.Data.Entities;
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Twikker";
    ApplicationUser user = (ApplicationUser)ViewData["User"];
    List<ApplicationUser> users = (List<ApplicationUser>)ViewData["Users"];

    List<Message> messages = (List<Message>)ViewData["Messages"];

    messages = messages.OrderByDescending(x => x.TimeStamp).ToList();

    List<Comment> comments = new List<Comment>();
}

<!-- import style sheets here -->
<link rel="stylesheet" href="~/css/index.css" />

<!-- Prepares a grid that looks like:

    -------------------------
    |  |   random info   |  |
    |  |-----------------|  |
    |  |      text-      |  |
    |  |    messages     |  |
    |  |                 |  |
    |  |-----------------|  |
    |  |load more button |  |
    -------------------------

 -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">

            <div class="headline">
                <p>@Localizer["Username"]: <strong data-bind="text: userName"></strong></p>

            </div>

            <div class="content">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <p>@Localizer["New Message"]:</p>
                    <textarea maxlength="300" name="newMessagePartialText" id="newMessagePartialText" onkeyup="countMessageChar(this, 'newMessageCount')"></textarea>
                    <p>@Localizer["Message Length"]: <p id="newMessageCount">0</p></p>
                    <button class="btn-success" onclick="addMessagePartial('newMessagePartialText')">@Localizer["Post"]</button>
                }
                <p>----------------------------------------------------</p>
            </div>

            <div id="addNewMessage">
            </div>

            <div class="bottomline">
                <button class="btn-success" onclick="loadMore()">@Localizer["Load More"]</button>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<!-- import scripts here -->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/knockout/dist/knockout.js"></script>
<script src="~/js/index.js" asp-append-version="true"></script>
