@using Microsoft.AspNetCore.Mvc.Localization;
@using Forsthuber.Data.Data;
@using Microsoft.AspNetCore.Identity;
@using Forsthuber.Data.Entities;
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Twikker";
    ApplicationUser user = (ApplicationUser)ViewData["User"];
    List<ApplicationUser> users = (List<ApplicationUser>)ViewData["Users"];

    List<Message> messages = (List<Message>)ViewData["Messages"];

    messages = messages.OrderByDescending(x => x.TimeStamp).ToList();

    List<Comment> comments = new List<Comment>();
}

<!-- import style sheets here -->
<link rel="stylesheet" href="~/css/index.css" />

<!-- Prepares a grid that looks like:

    -------------------------
    |  |   random info   |  |
    |  |-----------------|  |
    |  |      text-      |  |
    |  |    messages     |  |
    |  |                 |  |
    |  |-----------------|  |
    |  |load more button |  |
    -------------------------

 -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">

            <div class="headline">
                <p>@Localizer["Username"]: <strong data-bind="text: userName"></strong></p>

            </div>

            <div class="content">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <p>@Localizer["New Message"]:</p>
                    <textarea maxlength="300" name="newMessageText" id="newMessageText" onkeyup="countMessageChar(this, 'newMessageCount')"></textarea>
                    <p>@Localizer["Message Length"]: <p id="newMessageCount">0</p></p>
                    <button class="btn-success" onclick="newMessage('newMessageText')">@Localizer["Post"]</button>
                }
                <p>----------------------------------------------------</p>
                @for (int i = 0; i < messages.Count; i++)
                {
                    <p>@Localizer["Username"]: @messages[i].User</p>
                    <p>@Localizer["Text"]: @messages[i].Text</p>
                    @if (@messages[i].Likes.Count > 0)
                    {
                        <p id="@("likeCount" + i) ">@Localizer["Likes"]: @messages[i].Likes.Count</p>
                    }
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        @if (@messages[i].User.UserName == user.UserName)
                        {
                            <button class="btn-default" onclick="deleteMessage(@messages[i].MessageID)">@Localizer["Delete"]</button>
                        }
                        <button class="like-button" onclick="like(@messages[i].MessageID, @i)">@Localizer["Like"]</button>
                    }
                    comments = messages[i].Comments.OrderBy(x => x.TimeStamp).ToList();
                    <p>@Localizer["Comments"]: @comments.Count</p>



                    @for (int j = 0; j < comments.Count; j++)
                    {

                        <p>@Localizer["Username"]: @comments[j].User</p>
                        <p>@Localizer["Text"]: @comments[j].Text</p>
                        @if (@messages[i].Comments[j].Likes.Count > 0)
                        {
                            <p id="@("likeCommentCount" + i + "t" + j)">@Localizer["Likes"]: @messages[i].Comments[j].Likes.Count</p>
                        }

                        @if (this.User.Identity.IsAuthenticated)
                        {
                            if (comments[j].User.UserName == user.UserName)
                            {
                                <button class="btn-default" onclick="deleteComment(@messages[i].MessageID, @messages[i].Comments[j].CommentID)">@Localizer["Delete"]</button>
                            }
                            <button class="btn-danger" onclick="likeComment(@messages[i].Comments[j].CommentID, @i,@j)">@Localizer["Like"]</button>
                        }
                        <p>-----</p>
                    }
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <textarea maxlength="300" name="newCommentText" id="@("newCommentText" + i)" onkeyup="countCommentChar(this, @i)"></textarea>
                        <p>@Localizer["Message Length"]: <p id="@("newCommentCount" + i)">0</p></p>
                        <button class="btn-default" onclick="newComment(@messages[i].MessageID, @i)">@Localizer["Comment"]</button>
                    }
                    <p>----------------------------------------------------</p>
                }
            </div>
            <div class="bottomline">
                <button class="btn-success" onclick="loadMore()">@Localizer["Load More"]</button>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<!-- import scripts here -->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/knockout/dist/knockout.js"></script>
<script src="~/js/index.js" asp-append-version="true"></script>
